<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">

    <title>{% block title %}ByteBite{% endblock %}</title>

    {% load static %}
    <script>
        (function () {
            const savedTheme = localStorage.getItem("theme");
            if (savedTheme) {
                document.documentElement.setAttribute("data-theme", savedTheme);
            }
        })();
    </script>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
    {% block content %}{% endblock %}
    <button id="themeToggle" aria-label="Toggle theme">🌙</button>
    <div id="toast" class="toast hidden"></div>

    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>
    <script>
        function showToast(message) {
            const toast = document.getElementById("toast");
            toast.textContent = message;
            toast.classList.remove("hidden");
            toast.classList.add("show");

            setTimeout(() => {
                toast.classList.remove("show");
                setTimeout(() => toast.classList.add("hidden"), 300);
            }, 2500);
        }
    </script>

    <script src="{% static 'js/modal.js' %}"></script>
    <script>
  window.PAGE_NAME = "{% if request.resolver_match %}{{ request.resolver_match.url_name }}{% endif %}";
</script>


</body>
</html>