{% extends "base.html" %}
{% block title %}Update restaurant{% endblock %}
{% block content %}
    <div class="card">
    <form action="{% url 'update_restaurant' restaurant.id %}" method="POST">
      {% csrf_token %}
      <label for="rest-name">Restaurant name </label>
      <input id="rest-name" type="text" name="name" value="{{restaurant.name}}"/>
      <br /><br />
      <label>Picture url </label>
      <input type="url" name="picture" value="{{restaurant.picture}}"/>
      <br /><br />
      <label>Cuisine </label>
      <input type="text" name="cuisine" value="{{restaurant.cuisine}}"/>
      <br /><br />
      <label>Rating </label>
      <input type="number" name="rating" step = "0.1" min="0" max="10" value="{{restaurant.rating}}"/>
      <br /><br />
      <br /><br />
      <button type="submit">update restaurant</button>
    </form>
  </div>
{% endblock %}